apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: {{ compute_replicas }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  azure:
    baseDomainResourceGroupName: {{ base_domain_resource_group }}
    cloudName: AzurePublicCloud
    outboundType: Loadbalancer
    region: {{ region_name }}
publish: External
pullSecret: '{{ lookup('file', './ocp_files/pull-secret') }}'
sshKey: |
  {{ lookup('file', '../Terraform/Bastion/ocp-install.pub') }}
