apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: {{ compute_replicas }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  azure:
{% if cluster_scope == 'public' %}
    baseDomainResourceGroupName: {{ base_domain_resource_group }}
{% else %}
    baseDomainResourceGroupName: required_but_useless
{% endif %}
    networkResourceGroupName: {{ network_resource_group }}
    virtualNetwork: {{ virtual_network }}
    controlPlaneSubnet: {{ masters_subnet | regex_search('.*/([^/]+)', '\\1') | first }}
    computeSubnet: {{ workers_subnet | regex_search('.*/([^/]+)', '\\1') | first }}
    cloudName: AzurePublicCloud
{% if outbound_type == "LoadBalancer" %}
    outboundType: Loadbalancer
{% else %}
    outboundType: UserDefinedRouting
{% endif %}
    region: {{ region_name }}
{% if cluster_scope == 'public' %}
publish: External
{% else %}
publish: Internal
{% endif %}
pullSecret: '{{ lookup('file', './ocp_files/pull-secret') }}'
sshKey: |
  {{ lookup('file', '../Terraform/Bastion/ocp-install.pub') }}
